.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pricing__plan {
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(229, 229, 229, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.pricing__title {
  font-size: 24px;
  font-weight: bold;
}

.pricing__price {
  font-size: 36px;
  font-weight: bold;
}

.pricing__features {
  list-style: none;
  padding: 0;

  text-align: left;
}

.pricing__features li {
  margin-bottom: 10px;
}

.pricing__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pricing__button:hover {
  background-color: #0062cc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .pricing__plan {
    width: 100%;
    max-width: 400px;
  }
}
